*, *:before, *:after
	box-sizing: border-box
html
	font-size: 14px
body
	font-family: 'Futura Book', 'Futura Demi'
	font-size: 1rem
img
	max-width: 100%
.section
	padding: 60px 0
	&-title
		text-align: center
		text-transform: uppercase
		font-family: 'Yeseva One', cursive
		&__desc
			max-width: 52.92rem
			margin-left: 20%
			font-size: 1rem
			line-height: 1.92rem
			font-family: FuturaBookC, normal
			text-align: center
		&__image
			display: flex
			justify-content: center
			align-items: center
			&::before, &::after
				content: ''
				width: 32px
				height: 2px
				background-color: $primary
				margin: 0 10px
	
	
				